:root {
  --purple: rgb(123, 6, 104);
  --pink: rgb(242, 7, 172);
  --white: white;
  --gray: rgb(225, 220, 220);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  color: var(--purple);
  text-align: center;
  padding: 25px;
}

#text {
  text-align: center;
}

body {
  background-color: var(--gray);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#start-button, #restart-button {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: .2em;
  color: var(--white);
  background-color: var(--pink);
  display: block;
  margin: 0 auto;
}

#quiz-container {
  background-color: var(--white);
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: .6em;
}

#options {
  margin-top: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#options button {
 background-color: var(--purple);
 color: var(--white);
 border-radius: 5px;
 border: 1px solid black;
 padding: 10px;
 margin-bottom: 10px;
 width: 200px;
}

#options button:hover {
  background-color: var(--pink);
  cursor: pointer;
}

#next-button {
  margin-top: 1.5em;
  font-size: 1em;
  background-color: var(--pink);
  color: var(--white);
  padding: .7em 1.8em;
  border-radius: .3em;
  float: right ;
}

#submit-button {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: .2em;
  color: var(--white);
  background-color: var(--pink);
}

/* This styles the rows in the high scores table for the highscores.html  */
.row {
 background-color: var(--gray);
 text-align: center;
}

/* This styles the user initials in the high scores table for the highscores.html  */
#user-initials {
 color: var(--purple);
 font-weight: bolder;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 50px;
 padding-bottom: 10px;
}

/* This styles the user scores in the high scores table for the highscores.html  */
#score {
 color: var(--purple);
 font-style: italic;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 50px;
 padding-bottom: 10px;
}

/* This styles the table in the high scores table for the highscores.html  */
#high-scores-table {
  text-align: center;
  padding: 50px;
}

