:root {
    --white: #fff;
    --purple: rgb(130, 6, 135);
    --pink: rgb(231, 18, 224);
    --gray: rgb(172, 172, 174);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    background-color: var(--white);
  }

h1, .number-of-count {
    text-align: center;
}

#timer {
    float: right;
    margin-right: 25px;
    color: var(--purple);
}

.start-screen, .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }